# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/  
# OR only to exclude workspace cache
.obsidian/workspace 

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
